<header>
  <img
    src="assets/img/maria.jpeg"
    alt="Maria Eduarda - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Maria Eduarda Pereira</h1>
</header>

<aside>
  <div class="container">
    <p> Front-end | HTML | CSS | JavaScript | Angular</p>
    <p>São Paulo, Brasil</p>
    <p>
     Estudante de Sistemas de Informação e estagiária em Front-end
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Curriculo-Maria-Eduarda.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/maria-eduarda-pereira-53674b209/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>

        <li>
          <a
            href="https://github.com/DudaPereira"
            target="_blank"
            class="btn btn-secondary"
          >
            GitHub
          </a>
        </li>

      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/icons8-whatsapp-24.png"
          alt="Ícone para contato do WhatsApp"
          width="25px"
          height="25px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511965455454&text=Ol%C3%A1%20Maria,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (11) 9 6545-5454</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/icons8-nova-mensagem-24.png"
          alt="Ícone para contato do e-mail"
          width="25px"
          height="25px"
        />

        <figcaption>
          <a href="mailto:dener@vidafullstack.com.br" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>pmariaeduarda5588&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
